/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary: #ff0303;
  --bg: #ffffff;
  --bgnav: #838383;
  --blck: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 65vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  margin: 0;
}

/* navbar */
.info {
  display: flex;
  font-size: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 1rem 1rem 2rem;
}
.info a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--blck);
  border-bottom: 7px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar,
.navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav .about-nav {
  color: var(--primary);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* main mobil */
.main-mobil {
  display: grid;
  margin-top: 8%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.main-mobil .container-mobil .card-mobil {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 0%;
  justify-content: center;
  width: 1050px;
  padding: 20px 0 10px 0;
  box-shadow: 5px 5px 10px black;
}

.main-mobil .container-mobil .card-mobil img {
  width: 950px;
  height: 350px;
  border-radius: 20px;
}

/* main home */
.mainhome {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-bottom: 8px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0%;
}

.mainhome .content {
  color: black;
  margin-bottom: 10px;
}

.leftside-main {
  display: grid;
  place-items: center;
  margin: 0;
  height: 20vh;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}
.dropdown {
  translate: 0 -20px;
  position: relative;
  cursor: pointer;
}

.dropdown > button {
  width: 190px;
  height: 60px;
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  font-size: 17px;
  background: #000000;
}

.dropdown > .content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #f7f7f7;
}

.dropdown > .content::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 10%;
  width: 80%;
  height: 1px;
  transform: scaleX(0);
  background: rgb(255 255 255 / 30%);
  transition: 0.3s;
}

.dropdown:hover > .content::after {
  transform: scaleX(1);
}

.dropdown > .content > span:first-child {
  font-size: 20px;
}

.dropdown > .content > span:last-child {
  margin-left: auto;
}

.dropdown > .content > span:last-child {
  transition: 0.3s;
}

.dropdown:hover > .content > span:last-child {
  rotate: -180deg;
}

.dropdown > .menu {
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
  display: grid;
  width: 110%;
  padding: 70px 0 6px;
  border-radius: 6px;
  translate: -50% 0;
  visibility: hidden;
  opacity: 0;
  scale: 0.85;
  background: linear-gradient(#eb0000, #ffffff);
  transition: 0.3s;
}

.dropdown:hover > .menu {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.dropdown > .menu > a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-size: 14px;
  padding: 10px 24px;
}

.dropdown > .menu > a:hover {
  background: rgb(0 0 0 / 10%);
}

.dropdown > .menu > a > span {
  font-size: 20px;
}

/* Main Product */
.main-product .btn-find {
  text-align: center;
  padding-bottom: 40px;
}
.main-product .btn-find a:hover {
  background-color: black;
}
.main-product .btn-find a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}
.main-product h1 {
  padding-top: 20px;
  text-align: center;
  color: #000;
}
.main-product h1 span {
  color: var(--primary);
}
.container-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  cursor: pointer;
}

.container-product .card-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 270px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgb(106, 106, 106);
  transition: 0.5s;
}

.container-product .card-product:hover {
  height: 250px;
}
.container-product .card-product .img-mobil {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 200px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container-product .card-product:hover .img-mobil {
  top: -100px;
  scale: 1;
  box-shadow: 0 15px 45px rgb(106, 106, 106);
}
.container-product .card-product .img-mobil img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-product .card-product .content {
  color: #fff;
  position: absolute;
  top: 220px;
  width: 100%;
  padding: 0 10px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container-product .card-product:hover .content {
  top: 100px;
  height: 250px;
}
.container-product .card-product .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  font-weight: 500;
  background-color: var(--bg);
  color: #000;
  border-radius: 15px;
}
.container-product .card-product .content a:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Marketing */
.main-marketing {
  display: flex;
}
.leftside-marketing h1,
.rightside-support h1 {
  text-align: center;
}
.leftside-marketing h1 span,
.rightside-support h1 span {
  color: var(--primary);
}
.leftside-marketing {
  flex: 1;
  text-align: center;
  padding-right: 50px;
}
.slide-container-marketing {
  max-width: 820px;
  width: 100%;
  padding: 0;
}
.slide-content-marketing {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card-marketing {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-content-marketing,
.card-content-marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}
.image-content-marketing {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay-marketing {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 25px 25px 0 25px;
}
.overlay-marketing::before,
.overlay-marketing::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}
.overlay-marketing::after {
  border-radius: 0 25px 0 0;
  background-color: #ffffff;
  border-color: white;
}
.card-image-marketing {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--primary);
  padding: 3px;
}
.card-image-marketing:hover {
  background-color: var(--bg);
}
.card-image-marketing .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: black;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* support */
.rightside-support {
  flex: 1;
  text-align: center;
}
.rightside-support h1 {
  text-align: center;
}
.wrapper-support {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 350px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper-support i.button-support {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button-support:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container-support {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container-support .carousel-support {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel-support img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #ffffff;
  object-fit: cover;
}

/* chassis */
.main-chassis {
  /* background-color: rgba(0, 0, 0, 1); */
  margin-top: 55px;
  justify-content: space-between;
  align-items: center;
}
.main-chassis h1 {
  text-align: center;
}
.main-chassis h1 span {
  color: var(--primary);
}
.container-chassis {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0%;
  max-width: 1440px;
  width: 700px;
  padding: 10px 0;
}
.slide-container-chassis {
  margin: 0 30px;
  overflow: hidden;
}
.card-chassis {
  border-radius: 8px;
}
.card-chassis .image-box {
  height: 100px;
  width: 100px;
}
.card-chassis .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.swiper-navBtn-chassis {
  color: #ffffff;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 20%;
}
.swiper-navBtn-chassis:hover {
  background-color: var(--primary);
}
.swiper-navBtn-chassis::before,
.swiper-navBtn-chassis::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

/* footer */
.container-footer {
  color: #000;
  border-top: 1px solid #000;
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}
.container-footer .address {
  color: black;
  text-align: center;
}
.container-footer h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.container-footer .listmenu .menu a,
.container-footer .listlink .linkcepat a {
  display: grid;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.container-footer .listmenu .menu a:hover,
.container-footer .listlink .linkcepat a:hover {
  font-size: 15px;
  font-weight: bold;
}
.container-footer .established {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}
.social a i {
  font-size: 35px;
}
.social a:hover {
  color: var(--primary);
}
