/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary: #ff0303;
  --bg: #ffffff;
  --bgnav: #838383;
  --blck: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 65vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  margin: 0;
}

/* navbar */
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 7px solid var(--primary);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin-left: 15px;
}
nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li a:hover::after {
  transform: scaleX(0.5);
}
nav ul li a.equipment-nav-active,
nav ul li a:hover {
  color: var(--primary);
  /* background: var(--primary); */
}
nav .menu-navbar i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

.navbar .logo-navbar img {
  width: 180px;
}
.navbar .system-mode i {
  color: white;
}

/* main home */
.mainhome {
  background-color: rgb(255, 255, 255);
  display: grid;
  padding-bottom: 8px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}
.mainhome h1 {
  color: black;
  text-align: center;
  text-shadow: 1.2px 1.3px rgb(212, 210, 210);
}
.mainhome h1 span {
  color: var(--primary);
}
.mainhome .container {
  display: flex;
}
.mainhome .container .card {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.mainhome .container .card .card-img {
  box-shadow: 4px 2px 2px black;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 10px;
  background: linear-gradient(red, white);
  text-align: center;
  font-weight: 550;
}
.mainhome .container .card .card-img img {
  width: 280px;
  height: 200px;
  /* object-fit: cover; */
  border-radius: 5px;
  transition: 0.5s;
}
.mainhome .container .card .card-img img:hover {
  transform: scale(1.02);
}
.mainhome .container .card .card-img p {
  font-size: 15px;
}

.mainhome .container .card .card-img p:hover {
  color: var(--primary);
  font-weight: 750;
}
.mainhome .container .card .card-img a {
  text-decoration: none;
  color: #000;
}
.mainhome .card-btn {
  text-align: center;
  padding-top: 15px;
}
.mainhome .card-btn .btn-img-1 {
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 12px;
  background-color: var(--primary);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.mainhome .card-btn a {
  border: none;
  font-size: 14px;
  color: #000000;
  padding: 12px;
  background-color: var(--bg);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.mainhome .card-btn a:hover {
  font-weight: bold;
  color: #fff;
  background-color: var(--primary);
}

/* footer */
footer {
  border-top: 1px solid #000;
  margin-top: 10px;
}
.container-footer {
  color: #000;

  margin: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}
.container-footer .address {
  color: black;
  text-align: center;
}
.container-footer h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.container-footer .address a {
  text-decoration: none;
  color: black;
}
.container-footer .listmenu .menu a,
.container-footer .listlink .linkcepat a {
  display: grid;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.container-footer .listmenu .menu a:hover,
.container-footer .listlink .linkcepat a:hover {
  font-size: 15px;
  font-weight: bold;
}
.container-footer .established {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}
.social a i {
  font-size: 35px;
}
.social a:hover {
  color: var(--primary);
}

/* media queris */
/* leptop */
@media screen and (max-width: 1200px) {
  nav {
    padding: 0 40px 0 50px;
    width: 100%;
  }
  nav .menu-navbar i {
    display: block;
  }
  #click:checked ~ .menu-navbar i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.equipment-nav-active,
  nav ul li a:hover {
    color: var(--primary);
  }
  nav ul li a::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  nav ul li a:hover::after {
    transform: scaleX(0.1);
  }
  /* main home */
  .mainhome {
    background-color: rgb(255, 255, 255);
    display: grid;
    padding-bottom: 8px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 8%;
  }
  .mainhome h1 {
    text-align: center;
    text-shadow: 1.2px 1.3px rgb(212, 210, 210);
  }
  .mainhome h1 span {
    color: var(--primary);
  }
  .mainhome .container {
    display: flex;
  }
  .mainhome .container .card {
    margin: 0 2%;
  }
  .mainhome .container .card .card-img {
    width: 300px;
    height: 280px;
    box-shadow: 0px 35px 80px rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px;
    background: linear-gradient(red, white);
    text-align: center;
    font-weight: 550;
  }
  .mainhome .container .card .card-img img {
    width: 270px;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 5px;
    transition: 0.5s;
  }

  /* footer */
  footer {
    margin-top: 10px;
  }
  .container-footer {
    grid-gap: 50px;
  }
}
/* tablet */
@media screen and (max-width: 820px) {
  .mainhome h1 {
    margin-top: 10px;
  }
}
/* hp */
@media screen and (max-width: 428px) {
  nav {
    width: 100%;
  }
  .mainhome h1 {
    margin-top: 10%;
  }
  .mainhome .container .card .card-img {
    width: 150px;
    height: 180px;
  }
  .mainhome .container .card .card-img img {
    width: 130px;
    height: 120px;
  }
  .mainhome .container .card .card-img p {
    font-size: 12px;
  }
  footer {
    display: grid;
    justify-content: center;
    border-top: 1px solid #000;
  }
  .container-footer {
    display: inline-block;
    justify-content: center;
    color: #000;
    margin: 3%;
  }
  .container-footer .address,
  .container-footer .listmenu,
  .container-footer .linkcepat,
  .container-footer .established {
    margin-bottom: 10px;
  }
}
