/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary: #ff0303;
  --bg: #ffffff;
  --bgnav: #838383;
  --blck: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 65vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  margin: 0;
}

/* navbar */
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 7px solid var(--primary);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin-left: 15px;
}
nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
nav ul li a:hover::after {
  transform: scaleX(0.5);
}
nav ul li a.home-nav-active,
nav ul li a:hover {
  color: var(--primary);
  /* background: var(--primary); */
}
nav .menu-navbar i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

.navbar .logo-navbar img {
  width: 180px;
}
.navbar .system-mode i {
  color: white;
}

/* main mobil */
.main-mobil .name-job h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.main-mobil {
  /* background-color: rgba(0, 0, 0, 1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-mobil {
  border-radius: 10px;
  background: linear-gradient(black, white);
  margin-top: 8%;
  margin-bottom: 0%;
  width: 1440px;
  padding: 40px 0;
}
.slide-container-mobil {
  margin: 0 30px;
  overflow: hidden;
}
.card-mobil {
  border-radius: 8px;
}
.card-mobil .image-box {
  height: 200px;
}
.card-mobil .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card-mobil .profile-details {
  background-color: #fff;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card-mobil .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.swiper-navBtn {
  color: black;
  transition: color 0.3s ease;
  border-radius: 5px;
}
.swiper-navBtn:hover {
  background-color: var(--primary);
  color: #fff;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

/* main home */
.mainhome {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-bottom: 8px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0%;
}
.mainhome .leftside p {
  font-size: 16px;
}
.mainhome .content {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.leftside h1 span,
.product h1 span,
.rightside h1 span {
  color: var(--primary);
}
.leftside p {
  display: flex;
  font-size: small;
  padding-top: 1px;
  text-align: justify;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.mainhome .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.leftside {
  flex: 1;
  text-align: center;
  padding-right: 50px;
}
.rightside {
  flex: 1;
  padding-top: 1px;
  text-align: center;
}
.container-certif {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0%;
  max-width: 1440px;
  width: 700px;
  padding: 10px 0;
}
.slide-container-certif {
  margin: 0 30px;
  overflow: hidden;
}
.card-certif {
  border-radius: 8px;
  transition: 0.5s;
}
.card-certif .image-box {
  height: 150px;
  width: 100px;
}
.card-certif:hover {
  transform: scale(1.1);
}
.card-certif .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.swiper-navBtn-certif {
  color: #ffffff;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 20%;
}
.swiper-navBtn-certif:hover {
  background-color: var(--primary);
}
.swiper-navBtn-certif::before,
.swiper-navBtn-certif::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

/* Main Product */
.main-product .btn-find {
  text-align: center;
  padding-bottom: 40px;
}
.main-product .btn-find a:hover {
  background-color: black;
}
.main-product .btn-find a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}
.main-product h1 {
  padding-top: 20px;
  text-align: center;
  color: #000;
}
.main-product h1 span {
  color: var(--primary);
}
.container-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  cursor: pointer;
}

.container-product .card-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 270px;
  background: linear-gradient(black, white);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgb(106, 106, 106);
  transition: 0.5s;
}

.container-product .card-product:hover {
  height: 250px;
}
.container-product .card-product .img-mobil {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 200px;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container-product .card-product:hover .img-mobil {
  top: -100px;
  scale: 1;
  box-shadow: 0 15px 45px rgb(106, 106, 106);
}
.container-product .card-product .img-mobil img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-product .card-product .content {
  color: #000000;
  position: absolute;
  top: 220px;
  width: 100%;
  padding: 0 10px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container-product .card-product:hover .content {
  top: 100px;
  height: 250px;
}
.container-product .card-product .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  font-weight: 500;
  background-color: var(--bg);
  color: #000;
  border-radius: 15px;
}
.container-product .card-product .content a:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Marketing */
.main-marketing {
  display: flex;
}
.leftside-marketing h1,
.rightside-support h1 {
  text-align: center;
}
.leftside-marketing h1 span,
.rightside-support h1 span {
  color: var(--primary);
}
.leftside-marketing {
  flex: 1;
  text-align: center;
  padding-right: 50px;
}
.slide-container-marketing {
  max-width: 820px;
  width: 100%;
  padding: 0;
}
.slide-content-marketing {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 50px;
}
.card-marketing {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-content-marketing,
.card-content-marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}
.image-content-marketing {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay-marketing {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 25px 25px 0 25px;
}
.overlay-marketing::before,
.overlay-marketing::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}
.overlay-marketing::after {
  border-radius: 0 25px 0 0;
  background-color: #ffffff;
  border-color: white;
}
.card-image-marketing {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--primary);
  padding: 3px;
}
.card-image-marketing:hover {
  background-color: var(--bg);
}
.card-image-marketing .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: black;
}

/* support */
.rightside-support {
  flex: 1;
  text-align: center;
}
.rightside-support h1 {
  text-align: center;
}
.wrapper-support {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 350px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper-support i.button-support {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button-support:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container-support {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container-support .carousel-support {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel-support img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #ffffff;
  object-fit: cover;
}

/* chassis */
.main-chassis {
  /* background-color: rgba(0, 0, 0, 1); */
  margin-top: 55px;
  justify-content: space-between;
  align-items: center;
}
.main-chassis h1 {
  text-align: center;
}
.main-chassis h1 span {
  color: var(--primary);
}
.container-chassis {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0%;
  max-width: 1440px;
  width: 700px;
  padding: 10px 0;
}
.slide-container-chassis {
  margin: 0 30px;
  overflow: hidden;
}
.card-chassis {
  border-radius: 8px;
}
.card-chassis .image-box {
  height: 100px;
  width: 100px;
}
.card-chassis .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.swiper-navBtn-chassis {
  color: #ffffff;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border-radius: 20%;
}
.swiper-navBtn-chassis:hover {
  background-color: var(--primary);
}
.swiper-navBtn-chassis::before,
.swiper-navBtn-chassis::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

/* footer */
footer {
  border-top: 1px solid #000;
}
.container-footer {
  color: #000;

  margin: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}
.container-footer .address {
  color: black;
  text-align: center;
}
.container-footer h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.container-footer .address a {
  text-decoration: none;
  color: black;
}
.container-footer .listmenu .menu a,
.container-footer .listlink .linkcepat a {
  display: grid;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.container-footer .listmenu .menu a:hover,
.container-footer .listlink .linkcepat a:hover {
  font-size: 15px;
  font-weight: bold;
}
.container-footer .established {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}
.social a i {
  font-size: 35px;
}
.social a:hover {
  color: var(--primary);
}

/* media */
/* leptop ukuran 1200px */
@media screen and (max-width: 1200px) {
  nav {
    padding: 0 40px 0 50px;
  }
  nav .menu-navbar i {
    display: block;
  }
  #click:checked ~ .menu-navbar i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.home-nav-active,
  nav ul li a:hover {
    color: var(--primary);
  }
  nav ul li a::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  nav ul li a:hover::after {
    transform: scaleX(0.1);
  }
  /* mobil utama */
  .swiper-navBtn {
    display: none;
  }
  .main-mobil {
    /* background-color: rgba(0, 0, 0, 1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-mobil .name-job h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  .container-mobil {
    border-radius: 10px;
    background: linear-gradient(black, white);
    margin-top: 8%;
    margin-bottom: 0%;
    width: 1100px;
    padding: 40px 0;
  }
  .slide-container-mobil {
    margin: 0 30px;
    overflow: hidden;
  }
  .card-mobil {
    border-radius: 8px;
  }
  .card-mobil .image-box {
    height: 200px;
  }
  .card-mobil .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card-mobil .profile-details {
    background-color: #fff;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
  }
  .card-mobil .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  /* main home */
  .mainhome {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-bottom: 8px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
  }

  .mainhome .content {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .leftside h1 span,
  .product h1 span,
  .rightside h1 span {
    color: var(--primary);
  }
  .leftside p {
    display: flex;
    font-size: small;
    padding-top: 1px;
    text-align: justify;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #000;
    color: #fff;
  }
  .mainhome .leftside p {
    font-size: 14px;
  }
  .mainhome .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .leftside {
    flex: 1;
    text-align: center;
    padding-right: 5px;
  }
  .rightside {
    flex: 1;
    padding-top: 1px;
    text-align: center;
  }
  .container-certif {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0%;
    width: 600px;
    padding: 10px 0;
  }
  .slide-container-certif {
    margin: 0 30px;
    overflow: hidden;
  }
  .card-certif {
    border-radius: 8px;
    transition: 0.5s;
  }
  .card-certif .image-box {
    height: 130px;
    width: 100px;
  }
  .card-certif:hover {
    transform: scale(1.1);
  }
  .card-certif .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .swiper-navBtn-certif {
    color: #ffffff;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border-radius: 20%;
  }
  .swiper-navBtn-certif:hover {
    background-color: var(--primary);
  }
  .swiper-navBtn-certif::before,
  .swiper-navBtn-certif::after {
    font-size: 18px;
  }

  /* Main Product */
  .main-product .btn-find {
    text-align: center;
    padding-bottom: 40px;
  }
  .main-product .btn-find a:hover {
    background-color: black;
  }
  .main-product .btn-find a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
  }
  .main-product h1 {
    padding-top: 20px;
    text-align: center;
    color: #000;
  }
  .main-product h1 span {
    color: var(--primary);
  }
  .container-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    cursor: pointer;
  }

  .container-product .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 200px;
    background: linear-gradient(black, white);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(106, 106, 106);
    transition: 0.5s;
  }

  .container-product .card-product:hover {
    height: 180px;
  }
  .container-product .card-product .img-mobil {
    position: absolute;
    top: 20px;
    width: 220px;
    height: 120px;
    background-color: #000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
  }
  .container-product .card-product:hover .img-mobil {
    top: -50px;
    scale: 1;
    box-shadow: 0 15px 45px rgb(106, 106, 106);
  }
  .container-product .card-product .img-mobil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .container-product .card-product .content {
    color: #000000;
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
  }
  .container-product .card-product .content h3 {
    font-size: 13px;
  }
  .container-product .card-product:hover .content {
    top: 80px;
    /* height: 200px; */
  }
  .container-product .card-product .content a {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 25px;
    font-weight: 500;
    background-color: var(--bg);
    color: #000;
    border-radius: 15px;
  }
  .container-product .card-product .content a:hover {
    background-color: var(--primary);
    color: #fff;
  }

  /* Marketing */
  .main-marketing {
    display: flex;
  }
  .leftside-marketing h1,
  .rightside-support h1 {
    text-align: center;
  }
  .leftside-marketing h1 span,
  .rightside-support h1 span {
    color: var(--primary);
  }
  .leftside-marketing {
    flex: 1;
    text-align: center;
    padding-right: 10px;
  }
  .slide-container-marketing {
    width: 650px;
    padding: 0;
  }
  .slide-content-marketing {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    padding-bottom: 10px;
  }
  .card-marketing {
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .image-content-marketing,
  .card-content-marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
  }
  .image-content-marketing {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay-marketing {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 25px 25px 0 25px;
  }
  .overlay-marketing::before,
  .overlay-marketing::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
  }
  .overlay-marketing::after {
    border-radius: 0 25px 0 0;
    background-color: #ffffff;
    border-color: white;
  }
  .card-image-marketing {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: var(--primary);
    padding: 3px;
  }
  .card-image-marketing:hover {
    background-color: var(--bg);
  }
  .card-image-marketing .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
  }
  .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: var(--primary);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover {
    background: black;
  }

  /* support */
  .rightside-support {
    flex: 1;
    text-align: center;
  }
  .rightside-support h1 {
    text-align: center;
  }
  .wrapper-support {
    display: inline-block;
    width: 450px;
    height: 300px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper-support i.button-support {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button-support:active {
    transform: scale(0.94) translateY(-50%);
  }
  i#prev {
    left: 25px;
  }
  i#next {
    right: 25px;
  }
  .image-container-support {
    height: 300px;
    max-width: 450px;
    width: 100%;
    overflow: hidden;
  }
  .image-container-support .carousel-support {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .carousel-support img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #ffffff;
    object-fit: cover;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }

  /* mobil utama */
  .container-mobil {
    width: 960px;
  }
  /* main home */
  .mainhome {
    justify-content: center;
  }
  .leftside p {
    width: 920px;
  }
  .mainhome .leftside p {
    font-size: 15px;
  }
  .mainhome .content {
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
  }
  .leftside {
    margin-bottom: 10px;
  }
  .rightside {
    text-align: center;
  }

  /* Main Product */
  .main-product .btn-find {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
  .main-product {
    display: grid;
    justify-content: center;
  }
  .container-product {
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    cursor: pointer;
  }

  .container-product .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 200px;
    background: linear-gradient(rgb(0, 0, 0), white);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(255, 255, 255);
    transition: 0.5s;
  }
  /* marketing */
  .main-marketing {
    display: grid;
  }

  /* support */
  .rightside-support {
    margin-top: 10px;
  }
  .rightside-support h1 {
    text-align: center;
  }
  .wrapper-support {
    height: 180px;
    width: 250px;
  }
  .image-container-support {
    height: 180px;
    max-width: 250px;
    width: 100%;
  }

  /* footer */
  .container-footer {
    grid-gap: 50px;
  }
  .container-footer h2 {
    font-size: 15px;
  }
}

/* tablet */
@media screen and (max-width: 820px) {
  nav {
    width: 100%;
  }
  /* mobil utama */
  .swiper-navBtn {
    display: none;
  }
  .main-mobil {
    /* background-color: rgba(0, 0, 0, 1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-mobil .name-job h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  .container-mobil {
    border-radius: 10px;
    background: linear-gradient(black, white);
    margin-top: 8%;
    margin-bottom: 0%;
    width: 730px;
    padding: 40px 0;
  }
  .slide-container-mobil {
    margin: 0 30px;
    overflow: hidden;
  }
  .card-mobil {
    border-radius: 8px;
  }
  .card-mobil .image-box {
    height: 150px;
  }
  .card-mobil .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card-mobil .profile-details {
    background-color: #fff;
    align-items: center;
    column-gap: 12px;
  }
  .card-mobil .profile-details img {
    height: 40px;
    width: 20px;
    border-radius: 50%;
  }
  /* main home */
  .mainhome {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-bottom: 8px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    justify-content: center;
  }

  .leftside h1 span,
  .product h1 span,
  .rightside h1 span {
    color: var(--primary);
  }
  .leftside p {
    width: 700px;
    display: flex;
    font-size: small;
    padding-top: 1px;
    text-align: justify;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #000;
    color: #fff;
  }
  .mainhome .leftside p {
    font-size: 17px;
  }
  .mainhome .content {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
  }
  .rightside {
    margin-top: 10px;
  }

  /* Main Product */
  .main-product {
    display: grid;
    justify-content: center;
  }
  .container-product {
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    cursor: pointer;
  }

  .container-product .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 200px;
    background: linear-gradient(rgb(0, 0, 0), white);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(255, 255, 255);
    transition: 0.5s;
  }
  .btn-find {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }
}

/* phone 13*/
@media screen and (max-width: 431px) {
  body {
    display: grid;
    justify-items: center;
  }
  nav {
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 99999;
  }
  .main-mobil .container-mobil {
    margin-top: 12%;
  }
  /* main mobil */
  .card-mobil .image-box {
    height: 100px;
  }
  .card-mobil .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .main-mobil .name-job h1 {
    font-size: 12px;
    font-weight: 700;
  }
  .container-mobil {
    border-radius: 10px;
    background: linear-gradient(black, white);
    margin-top: 8%;
    margin-bottom: 0%;
    width: 390px;
    padding: 40px 0;
  }
  /* main home */
  .mainhome {
    margin-left: 0px;
    margin-right: 0px;
    width: 390px;
    display: grid;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .leftside {
    display: grid;
    justify-content: center;
    padding-right: 0px;
    justify-items: center;
  }
  .leftside p {
    width: 370px;
    display: grid;
    font-size: small;
    padding-top: 1px;
    text-align: justify;
  }
  .mainhome .leftside p {
    font-size: 14px;
  }
  .container-certif {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0%;
    width: 390px;
    padding: 0px;
  }
  .card-certif .image-box {
    height: 80px;
    width: 50px;
  }

  /* Main Product */
  .main-product {
    display: grid;
    justify-content: center;
  }
  .container-product {
    position: relative;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    cursor: pointer;
  }

  .container-product .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 200px;
    background: linear-gradient(rgb(0, 0, 0), white);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(255, 255, 255);
    transition: 0.5s;
  }
  .btn-find {
    margin-top: 10px;
  }
  /* Marketing */
  .main-marketing {
    display: grid;
  }
  .slide-container-marketing {
    width: 380px;
    padding: 0;
  }
  .card-image-marketing {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: var(--primary);
    padding: 3px;
  }
  /* chassis */
  .card-chassis .image-box {
    height: 60px;
    width: 60px;
  }
  .container-chassis {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0%;
    width: 380px;
    padding: 10px 0;
  }
  .slide-container-chassis {
    margin: 0 30px;
    overflow: hidden;
  }
  .card-chassis {
    border-radius: 8px;
  }
  .card-chassis .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  /* footer */
  footer {
    display: grid;
    justify-content: center;
    border-top: 1px solid #000;
  }
  .container-footer {
    display: inline-block;
    justify-content: center;
    color: #000;
    margin: 3%;
  }
  .container-footer .address,
  .container-footer .listmenu,
  .container-footer .linkcepat,
  .container-footer .established {
    margin-bottom: 10px;
  }
}
