/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary: #ff0000;
  --bg: #ffffff;
  --bgnav: #838383;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 70vh;
  background-color: var(--bg);
  color: #fff;
  margin: 0;

  /* min-height: 2000px; */
}
.info {
  font-size: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 1rem 6.5rem 2rem;
}
.info a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 7px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar,
.navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
/* Main Mobil */
/* Google Fonts - Poppins */
.mainMobil {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.container {
  width: 200%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.kartu {
  background-color: #fff;
  border-radius: 8px;
}
.kartu .image-box {
  height: 200px;
}
.kartu .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.kartu .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.kartu .profile-details img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

/* main Home */
.mainhome {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  margin: 3%;
}

.mainhome .content {
  color: black;
  margin: 100px 0 0 0;
  margin-bottom: 0;
}
.leftside h1 span,
.product h1 span,
.rightside h1 span {
  color: var(--primary);
}
.leftside p {
  display: flex;
  font-size: small;
  padding-top: 1px;
  text-align: justify;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.leftside {
  flex: 1;
  text-align: center;
  padding-right: 50px;
}
.rightside {
  flex: 1;
  text-align: center;
}
.product {
  display: grid;
  margin: 0;
}
.product h1 {
  text-align: center;
  color: #000;
}
.menu a:hover,
.linkcepat a:hover {
  font-weight: bold;
}

.social a {
  display: inline-block;
  margin: 1px;
  color: black;
}
.social a i {
  font-size: 24px;
}
.social a:hover {
  color: red;
}
/* slide chasis */
.swiper {
  width: 40%;
  height: 40%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #000000;
  cursor: grab;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.casis h2 {
  color: #000;
  text-align: center;
}
.casis span {
  color: var(--primary);
}
/* card sertif */
.card {
  display: inline-block;
  transition: 1s;
}
.card img {
  box-shadow: 5px 5px 10px black;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  z-index: 2;
}
/* marketing */
.marketing {
  color: #000;
  display: flex;
}
.teammarketing,
.quality {
  text-align: center;
}
.teammarketing span,
.quality span {
  color: var(--primary);
}
.teammarketing {
  flex: 1;
}
.quality {
  flex: 1;
}
@media (max-width: 1330px) {
  .info {
    margin: 0 0 2rem;
  }
}
