/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --primary: #ff0303;
  --bg: #ffffff;
  --bgnav: #838383;
  --blck: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 65vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  margin: 0;
}

/* navbar */
.info {
  display: flex;
  font-size: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 1rem 1rem 2rem;
}
.info a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--blck);
  border-bottom: 7px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar,
.navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav .quality-nav {
  color: var(--primary);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* main home */
.mainhome {
  background-color: rgb(255, 255, 255);
  display: grid;
  padding-bottom: 8px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 8%;
}
.mainhome h1 {
  text-align: center;
  text-shadow: 1.2px 1.3px rgb(212, 210, 210);
}
.mainhome h1 span {
  color: var(--primary);
}
.mainhome .container {
  display: flex;
}
.mainhome .container .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.mainhome .container .card .card-img {
  box-shadow: 4px 2px 2px black;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 10px;
  background: linear-gradient(red, white);
  text-align: center;
  font-weight: 550;
}
.mainhome .container .card .card-img img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.mainhome .container .video {
  width: 400px;
  display: flex;
  color: var(--primary);
  font-size: 13px;
  text-shadow: 1.2px 1.3px #000000;
  text-align: center;
  font-weight: 500;
  flex-wrap: wrap;
}
.mainhome .container .video video {
  box-shadow: 4px 4px 4px black;
  border-radius: 10px;
  width: 300px;
  height: 380px;
  /* object-fit: cover; */
}
.mainhome .container .video .card-video h1 {
  font-size: 16px;
}
.mainhome .container .card .card-img h4 {
  font-size: 14px;
}
.video-display {
  margin: 10px;
}

/* footer */
.container-footer {
  color: #000;
  border-top: 1px solid #000;
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}
.container-footer .address {
  color: black;
  text-align: center;
}
.container-footer h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.container-footer .listmenu .menu a,
.container-footer .listlink .linkcepat a {
  display: grid;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.container-footer .listmenu .menu a:hover,
.container-footer .listlink .linkcepat a:hover {
  font-size: 15px;
  font-weight: bold;
}
.container-footer .established {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
}
.social a i {
  font-size: 35px;
}
.social a:hover {
  color: var(--primary);
}
